.main {
  margin: 10pt;
}

h2, h3 {
  font-size: 0pt;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.main-content {
  max-width: 420px;
  text-align: justify;
}

.main-content img {
  max-width: 100%;
}