<ul class="nav" role="navigation">
	<li
	  *ngFor="let section of sections"
	  class="nav-link"
      [class.selected]="section === selectedSection"
	  (click)="onSelect(section)">
      <a href="#">
      	<div class="nav-link-container">
		  	<div class="plus plus-top nav-top" aria-hidden="true">+</div>
		  	<div class="plus plus-line" aria-hidden="true"></div>
		  	<div class="nav-label nav-bottom">
			  	<div class="plus plus-bottom" aria-hidden="true">+</div>
			  	<div class="nav-label-name">
				{{ section.name }}
				</div>
			</div>
		</div>
	  </a>
	</li>
</ul>
