#container {
  display: flex;
  height: 500px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

app-header,
.header {
  flex: 30%;
}

app-nav,
.nav {
  flex: 30%;
}

app-main,
.main {
  flex: 40%;
}