<div id="container">
	<div id="left" class="block">
		<app-header (click)="onBack()"></app-header>
		<div class="nav-back">
			<button
				class="nav-back-btn"
				alt="Back"
				aria-label="Back"
				[class.visible]="selectedSection"
				[attr.aria-disabled]="!selectedSection"
				[attr.tabindex]="2"
				[class.fadeOut]="mainFadeOut"
				(click)="onBack()">
				<span>
					&lt;
				</span>
			</button>
		</div>
	</div>

	<div id="right" class="block">
		<ul class="nav" role="navigation"
			[class.collapsed]="selectedSection">
			<li
			  *ngFor="let section of sections"
  			  class="nav-link"
  			  [ngClass]="{'selected' : section === selectedSection,
			  'not-selected' : selectedSection && (section !== selectedSection), '' : !selectedSection }"
			  [ngClass]="(section === selectedSection)? 'selected' : 'not-selected'"
			  >
		      <button
		      	class="nav-link-btn"
			    [attr.disabled]="selectedSection && (section !== selectedSection)"
			    [attr.aria-disabled]="selectedSection && (section !== selectedSection)"
			    [attr.tabindex]="selectedSection && (section !== selectedSection) ? 0 : 1"
			    [attr.alt]="section.title.rendered"
			    (click)="onSelect(section)"
				>
		      	<div class="nav-link-container">
				  	<div class="plus plus-top nav-top" aria-hidden="true">+</div>
				  	<div class="plus plus-line" aria-hidden="true"></div>
				  	<div class="nav-label nav-bottom">
					  	<div class="plus plus-bottom" aria-hidden="true">+</div>
					  	<div class="nav-label-name">
						{{ section.title.rendered }}
						</div>
					</div>
				</div>
			  </button>
			</li>
		</ul>

		<app-main
			[class.hasSection]="selectedSection!=undefined"
			[class.fadeOut]="mainFadeOut"
			[section]="selectedSection">	
		</app-main>
	</div>
</div>
<app-footer></app-footer>